*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body{
  height: 100%;
  width: 100%;
  background-color: #000;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
.card{
  width: 300px;
  border: 1px solid white;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background: #222;
  margin-right: 10px;
}
.card img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.card p{
  margin: 10px;
  padding: 5px;
}

.card button{
  margin-top: 10px;
  padding: 10px 20px;
  color: #000;
  border-radius: 6px;
  font-weight: bolder;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}