* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
  /* background: #000; */
}

.parent {
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  position: relative;
}

.cards {
  height: 320px;
  width: 320px;
  background: #fff;
  border-radius: 20px;
  margin-left: 10px;
  padding: 20px;
  position: relative;
  /* margin-top: 10px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.cards .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
}
/* .cards .top .logo {
  height: 34px;
  width: 34px;
  border: 1px solid #c79e9e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.cards .top .logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  display: block;
  background: red;
} */
.cards .top .logo {
  width: 34px;
  height: 34px;
  border: 1px solid #c79e9e;
  border-radius: 50%;
  overflow: hidden;
}

.cards .top .logo img {
  width: 140%;        /* zoom in */
  height: 140%;
  object-fit: cover;
  transform: translate(-14%, -13%);
}
.cards .top button,
.cards .bottom .apply button {
  padding: 4px 10px;
  border-radius: 20px;
}
.cards .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  padding: 0 20px;
}
.cards .center .company {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards .center .company h3 {
  font-size: 20px;
}
.cards .center .company p {
  font-size: 10px;
  padding: 10px;
  position: absolute;
  top: -1px;
  left: 92px;
  color: gray;
  font-weight: bold;
}

.cards .center .recruit-position-job_type .rc_post {
  margin-top: 4px;
  font-size: 23px;
}

.cards .center .recruit-position-job_type .jb_type {
  margin-top: 8px;
}

.cards .center .recruit-position-job_type .jb_type button {
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
}

.cards .center .recruit-position-job_type .jb_type .senior {
  margin-left: 4px;
}
.cards .bottom {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.cards .bottom .salaryByHour_location .loc {
  font-size: 10px;
  font-weight: bold;
  color: gray;
}
