* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  /* color: white; */
}

html,
body {
  height: 100%;
  width: 100%;
  background: #000;
}

.parent {
  /* height: 100vh; */
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  position: relative;
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.cards {
  height: 350px;
  width: 300px;
  background: #fff;
  border-radius: 20px;
  margin-left: 10px;
  padding: 20px;
  position: relative;
}

.cards .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: 0;
  right: 0;
}

.cards .top .logo {
  width: 34px;
  height: 34px;
  border: 1px solid #c79e9e;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.cards .top .logo img {
  width: 29px;
  height: 29px;
  object-fit: cover;
  /* transform: translate(-14%, -13%); */
  cursor: pointer;
}

.cards .top button {
  padding: 4px 10px;
  border: 1px solid gray;
  border-radius: 20px;
  background: transparent;
  color: gray;
  cursor: pointer;
}
.cards .top button:hover {
  background-color: #d7d7d7;
  box-shadow: 1px 1px 2px inset;
}

.cards .center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  position: absolute;
  left: 0;
  right: 0;
  top: 80px;
  padding: 0 20px;
}

.cards .center .company {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards .center .company h3 {
  font-size: 20px;
}

.cards .center .company p {
  font-size: 10px;
  padding: 10px;
  position: absolute;
  top: -1px;
  left: 92px;
  color: gray;
  font-weight: bold;
}

.cards .center .recruit-position-job_type .rc_post {
  margin-top: 4px;
  font-size: 23px;
}

.cards .center .recruit-position-job_type .jb_type {
  margin-top: 8px;
}

.cards .center .recruit-position-job_type .jb_type button {
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.cards .center .recruit-position-job_type .jb_type .senior {
  margin-left: 4px;
}

.cards .bottom {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-top: 1.5px solid #d7d7d7;
}

.cards .bottom .salaryByHour_location .loc {
  font-size: 12px;
  font-weight: bold;
  color: gray;
}

.cards .bottom .apply button {
  padding: 4px 10px;
  border-radius: 20px;
  background-color: #000;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
}
.cards .bottom .apply button:hover {
  background-color: #524848;
  box-shadow: 2px 2px 1px inset;
}
