*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  width: 100%;
  /* background: #000; */
}

.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  position: relative;
}

.cards{
  height: 400px;
  width: 300px;
  background: #fff;
  border-radius: 20px;
  margin-left: 10px;
  padding: 20px;
  position: relative;
  /* margin-top: 10px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.cards .top{
  display: flex;
  justify-content: space-between;
}
.cards .top img{
  height: 30px;
  width: 30px;
  background: #000;
  border-radius: 50%;
  object-fit: cover;
}

.cards .top button {
  padding: 5px 10px;
  border-radius: 20px;
}
.cards .center{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start; 
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 20px;
}

.cards .bottom{
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

