*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  height: 100%;
  width: 100%;
  /* background: #000; */
}

.parent{
  height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
}

.cards{
  height: 400px;
  width: 300px;
  background: #fff;
  border-radius: 20px;
  margin-left: 10px;
  /* margin-top: 10px; */
}

